
        .main_box{
            border:0.5px solid black;
            margin-top: 50px !important;
        }
        .main_box:hover{
            border:0px solid;
            box-shadow: 0px 2px 7px rgb(0, 0, 0);
        }
        .container{
            box-shadow: 0px 0px 7px white;
            margin:12px;
            padding:15px;
            border-radius: 10px;
            background-color: aliceblue;
        }
        .question{
            border:1px solid;
            font-size:large;
            background-color: rgb(39, 39, 39);
            color: white;
            box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
        }
        .hidden{
            position: absolute;
            visibility: hidden;
        }
        .opt{
            border-radius: 10px;
            margin: 5px;
            padding: 5px;
        }
    